html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif !important;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#editor-container,
#view-editor-container {
  font-size: 24px;
  margin: auto;
  max-width: 768px;
}

#toolbar-container,
#view-toolbar-container {
  max-width: 768px !important;
  font-size: 24px;
  margin: auto;
}

#search-form {
  position: relative;
}

#search_input {
  position: relative;
  font-size: 24px;
  border: solid 2px rgb(245, 245, 245);
  width: 100%;
  padding: 10px 15px;
  background-color: rgb(250, 250, 250);
}

#search_button {
  font-size: 24px;
  border-radius: 15px;
}

#search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 2.5%;
  transition: 0.3s;
}

#search-icon:hover {
  cursor: pointer;
}

.container {
  overflow-x: hidden;
  padding-top: 5%;
  width: 60%;
  margin: auto;
}

h1 {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
  background-clip: text;
  color: transparent;
  background-size: cover;
  background: linear-gradient(
    45deg,
    rgba(150, 110, 250, 1) 0%,
    rgba(138, 55, 234, 1) 26%,
    rgba(196, 69, 245, 1) 50%,
    rgba(231, 91, 212, 1) 75%,
    rgba(234, 116, 133, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.result-cards:first-child {
  padding: 32px 20px 20px 20px;
  width: 100%;
  border-left: solid 2px rgb(245, 245, 245);
  border-right: solid 2px rgb(245, 245, 245);
  border-top: solid 2px rgb(245, 245, 245);
}

.result-cards {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  background-color: rgb(250, 250, 250);
  border-left: solid 2px rgb(245, 245, 245);
  border-right: solid 2px rgb(245, 245, 245);
  border-top: solid 2px rgb(245, 245, 245);
  cursor: pointer;
  transition: 0.3s;
}

.result-cards:hover {
  background-color: rgb(230, 230, 230);
}

#result-image {
  width: 30%;
  border-radius: 5px;
  display: inline-block;
}

.result-text h3 {
  font-size: 24px;
}
.result-text p {
  font-size: 18px;
}

#submit-button {
  width: 200px;
  height: 70px;
  font-weight: 700;
  font-size: 24px;
  border-radius: 35px;
  color: rgb(75, 28, 247);
  background-color: white;
  border: solid 3px rgb(75, 28, 247);
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

#submit-button:hover {
  color: white;
  background-color: rgb(75, 28, 247);
}

#create-form {
  text-align: center;
}

#view-message {
  text-align: center;
  font-size: 18px;
}

h3,
h5 {
  text-align: center;
}

.title {
  font-size: 2rem;
}

.artist {
  font-size: 1.5rem;
}

@media only screen and (max-width: 768px) {
  #editor-container,
  #view-editor-container {
    font-size: 20px;
    max-width: 600px !important;
  }

  #toolbar-container,
  #view-toolbar-container {
    max-width: 600px !important;
    font-size: 20px;
  }
  #search_input {
    position: relative;
    font-size: 20px;
  }
  #search_button {
    font-size: 20px;
    border-radius: 10px;
  }
  .container {
    padding-top: 5%;
    width: 80%;
  }
  #result-image {
    min-width: 75px;
    min-height: 75px;
    border-radius: 4px;
    display: inline-block;
  }

  .result-text h3 {
    font-size: 20px;
  }
  .result-text p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 600px) {
  #editor-container,
  #view-editor-container {
    font-size: 16px;
    max-width: 400px !important;
  }

  #toolbar-container,
  #view-toolbar-container {
    max-width: 400px !important;
    font-size: 16px;
  }
  .result-text h3 {
    font-size: 16px;
  }
  .result-text p {
    font-size: 12px;
  }
  #search_input {
    position: relative;
    font-size: 16px;
  }
  #search_button {
    font-size: 16px;
    border-radius: 6px;
  }
  .container {
    padding-top: 5%;
    width: 90%;
  }
  #result-image {
    min-width: 50px;
    min-height: 50px;
    border-radius: 3px;
    display: inline-block;
  }
  #search-icon {
    width: 25px;
  }
  #submit-button {
    width: 133px;
    height: 47px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 24px;
    border: solid 2px rgb(75, 28, 247);
    margin-top: 15px;
  }
}
@media only screen and (max-width: 400px) {
  #editor-container,
  #view-editor-container {
    font-size: 12px !important;
    max-width: 260px;
  }

  #toolbar-container,
  #view-toolbar-container {
    max-width: 260px !important;
    font-size: 12px;
  }
  #search-icon {
    width: 18px;
  }
  #search_input {
    font-size: 12px;
  }
  h1 {
    font-size: 35px;
  }
}
